/* Fonts */
@font-face {
    font-family: BaiJamjuree;
    src: url("./fonts/BaiJamjuree/BaiJamjuree-Regular.ttf");
}

* {
    font-family: "BaiJamjuree";
}

/* Estilos por secciones */

.texto-oscuro {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
}
.texto-claro {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1.1rem;
}

/* Hero section */
.hero-section {
    max-width: 1440px;
    text-align: center;

}

.copy {
    margin: 0;
    padding: 0;
}
.section-info {
    text-align: center;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width: 753px) {
    .box {
        flex-direction: column;
        align-items: center;
    }
    .copy {
        height: 70px;
        transition: all 1.2s ease;
    }
    .hero-banner {
        height: 150px;
    }
}
/* Footer */
footer {
    background-color: hsla(180, 1%, 86%, 0.747);
}
/* .footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.links {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-evenly;
} */

/* Estilos de los botones */
/* Boton verde */
/* From Uiverse.io by kosedagyazilim */ 
.button-verde {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(171, 66%, 44%);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px hsl(171, 66%, 44%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button-verde:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px hsl(171, 66%, 44%);
}

.button-verde:active {
    transform: translateY(0px);
    box-shadow: 0 0 15px hsl(171, 66%, 44%);
    background-color: hsl(171, 66%, 44%);
}

.button-verde:before,
.button-verde:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.button-verde:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.button-verde:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

/* Boton azul */
.button-azul {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(233, 100%, 69%);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px hsl(233, 100%, 69%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button-azul:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px hsl(233, 100%, 69%);
}

.button-azul:active {
    transform: translateY(0px);
    box-shadow: 0 0 15px hsl(233, 100%, 69%);
    background-color: hsl(233, 100%, 69%);
}

.button-azul:before,
.button-azul:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.button-azul:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.button-azul:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
